.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
*.app
.snapshots/*

# This may appear, so I am making sure it is avoided.
.DS_Store

.venv
.env
# env is to hide api key

node_modules
package-lock.json
package.json